@font-face {
    font-family: 'Geneva';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/16736_Geneva_0.ttf') format('TrueType');
    
}

html {
    text-align: center;
}


h1 {
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Geneva', Verdana, sans-serif;
    color: #B95EB0;
    text-align: center;
    letter-spacing: 15px;
    font-weight: 500;
}

h2 {
    color: #B95EB0;
    letter-spacing: 10px;
    font-family: 'lucida Sans Unicode' 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Geneva', Verdana, sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Lucida Sans Unicode', sans-serif;
    color: #4B88C0;
    font-size: 14px;
}


#texts1 {
    text-align: left;
}

#texts2 {
    text-align: left;
}

#texts3 {
    text-align: left;
}

#texts4 {
    text-align: left;
}

#texts5 {
    text-align: left;
}

#texts6 {
    text-align: left;
}

#texts7 {
    text-align: left;
}

#texts8 {
    text-align: left;
}

#texts9 {
    text-align: left;
}
#texts10 {
    text-align: left;
}

#texts11 {
    text-align: left;
}

#texts12 {
    text-align: left;
}

#imgpopres{
    width: 300px;
    float: right;
    margin-left: 10px;
}

#imgcarires{
    width: 300px;
    float:left;
    margin-right: 10px;
}

#imgkinglod{
    width: 300px;
    float: right;
    margin-left: 10px;
}

#imgmikmin{
    width: 100%;
}
