html{
    text-align: center;
    background-color: #289688;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
}

img {
    border: white 10px solid;
    margin: 3px;
}